@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300;1,500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.team-info-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 10px;
}

.info-box {
    display: flex;
    justify-content: space-evenly;
}

.info-box img {
    width: 90%;
}


.text-box-one {
    line-height: 27px;
}

.text-box-two {
    writing-mode: vertical-lr;
    position: relative;
    top: 0px;
}


